services:
  haproxy:
    image: haproxy:lts
    container_name: haproxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./conf.d:/usr/local/etc/haproxy/conf.d:ro
      - ./maps:/usr/local/etc/haproxy/maps:ro
    command: haproxy -f /usr/local/etc/haproxy/conf.d
    networks:
      - haproxy-net

networks:
  haproxy-net:
    external: true
