# Map Download Frontend (Port 8000)
frontend mapdownload-in
    mode http
    bind *:8000
    option httplog
    timeout client 5m
    use_backend %[req.hdr(host),lower,regsub(:.*$,,),map(/usr/local/etc/haproxy/maps/mapdownload-domains.map,no-match-mapdownload)]

backend no-match-mapdownload
    mode http
    http-request deny deny_status 503
